<span prefix="schema: http://schema.org/" typeof="schema:CreativeWork">
<% if params[:url] and not params[:url].empty? %>
    <meta property="schema:url" content="<%= params[:url] %>" />
<% end %>
<% if params[:title] and not params[:title].empty? %>
    <meta property="schema:name" content="<%= params[:title] %>" />
<% end %>
<% if params[:description] and not params[:description].empty? %>
    <meta property="schema:description" content="<%= params[:description] %>" />
<% end %>
<% if params[:about] and not params[:about].empty? %>
    <meta property="schema:about" content="<%= params[:about] %>" />
<% end %>
<% if params[:publisher] and not params[:publisher].empty? %>
    <meta property="schema:publisher" content="<%= params[:publisher] %>" />
<% end %>
<% if params[:author] and not params[:author].empty? %>
    <meta property="schema:author" content="<%= params[:author] %>" />
<% end %>
<% if params[:timeRequired] and not params[:timeRequired].empty? %>
    <meta property="schema:timeRequired" content="<%= 'P' + params[:timeRequired] %>" />
<% end %>
<% if params[:educationalUse] %>
    <meta property="schema:educationalUse" content="<%= params[:educationalUse].join(',') %>" />
<% end %>
<% if params[:endUser] %>
    <meta property="schema:endUser" content="<%= params[:endUser].join(',') %>" />
<% end %>
<% if params[:ageRange] %>
    <meta property="schema:ageRange" content="<%= params[:ageRange].join(',') %>" />
<% end %>
<% if params[:educationalUse] %>
    <meta property="schema:educationalUse" content="<%= params[:educationalUse].join(',') %>" />
<% end %>
<% if params[:learningResource] %>
    <meta property="schema:learningResource" content="<%= params[:learningResource].join(',') %>" />
<% end %>
<% if params[:mediaType] %>
    <meta property="schema:mediaType" content="<%= params[:mediaType].join(',') %>" />
<% end %>
<% if params[:standards]; params[:standards].each do |param| %>
    <span property="schema:educationalAlignment" typeof="schema:AlignmentObject">
      <meta property="schema:alignmentType" content="Teaches" />
      <meta property="schema:educationalFramework" content="Common Core State Standards" />
      <meta property="schema:targetName" content="<%= param %>" />
    </span>
<% end; end %>
</span>
