<span prefix="schema: http://schema.org/" typeof="schema:CreativeWork">
<% if param_exists? :url %>
    <meta property="schema:url" content="<%= params[:url] %>" />
<% end %>
<% if param_exists? :title %>
    <meta property="schema:name" content="<%= params[:title] %>" />
<% end %>
<% if param_exists? :description %>
    <meta property="schema:description" content="<%= params[:description] %>" />
<% end %>
<% if param_exists? :about %>
    <meta property="schema:about" content="<%= params[:about] %>" />
<% end %>
<% if param_exists? :publisher %>
    <meta property="schema:publisher" content="<%= params[:publisher] %>" />
<% end %>
<% if param_exists? :author %>
    <meta property="schema:author" content="<%= params[:author] %>" />
<% end %>
<% if param_exists? :timeRequired %>
    <meta property="schema:timeRequired" content="<%= params[:timeRequired] %>" />
<% end %>
<% if param_exists? :educationalUse %>
    <meta property="schema:educationalUse" content="<%= params[:educationalUse].join(',') %>" />
<% end %>
<% if param_exists? :endUser %>
    <meta property="schema:educationalRole" content="<%= params[:endUser].join(',') %>" />
<% end %>
<% if param_exists? :ageRange %>
    <meta property="schema:typicalAgeRange" content="<%= params[:ageRange].join(',') %>" />
<% end %>
<% if param_exists? :learningResource %>
    <meta property="schema:learningResourceType" content="<%= params[:learningResource].join(',') %>" />
<% end %>
<% if param_exists? :mediaType %>
    <meta property="schema:mediaType" content="<%= params[:mediaType].join(',') %>" />
<% end %>
<% if param_exists? :standards; params[:standards].each do |param| %>
    <span property="schema:educationalAlignment" typeof="schema:AlignmentObject">
      <meta property="schema:alignmentType" content="teaches" />
      <meta property="schema:educationalFramework" content="Common Core State Standards" />
      <meta property="schema:targetName" content="<%= param %>" />
    </span>
<% end; end %>
</span>
