<%= erb :__header %>

  <div id="mainContentTopRight" class="main-content-topright border-right">
    <ul class="nav nav-tabs">
      <li id="generalTab" class="active"><a href="#generalPanel" data-toggle="tab">General</a></li>
      <li id="educationTab" class=""><a href="#educationPanel" data-toggle="tab">Education</a></li>
      <li id="resourceTab" class=""><a href="#resourcePanel" data-toggle="tab">Resource</a></li>
      <li id="standardsTab" class=""><a href="#standardsPanel" data-toggle="tab">Standards</a></li>
    </ul>

    <form name="LRMIData" id="LRMIData" method="post">
      <fieldset>

        <div class="tab-content" id="dataTabs">
          <%= erb :_general %>
          <%= erb :_education %>
          <%= erb :_resource %>
          <%= erb :_standards %>
        </div>

      </fieldset>
    </form>

  </div>

  <div id="mainContentBottom" class="page">
    <iframe id="iframe" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" scrolling="auto" frameborder="0" width="100%" height="100%"></iframe>
  </div>

  <!-- Hidden DIV until the Add Alignment button is used -->
  <div id="alignmentsModal" class="modal hide fade bigModal">
    <div class="modal-header">
      <a onclick="$('#alignmentsModal').modal('hide');" class="close">×</a>
      <h3>Add Education Alignment</h3>
    </div>
    <div class="modal-body">

      <input type="hidden" id="itemGUID">
      <table cellspacing="2" cellpadding="5" class="table-condensed">
        <tbody><tr>
          <td style="text-align:left;">
            <label class="control-label" for="educationalAlignment">Educational Alignment</label>
            <select class="input-xlarge required" id="educationalAlignment">
              <option value="CCSS - English Language Arts"  selected="selected">CCSS - English Language Arts</option>
              <option value="CCSS - Mathematics">CCSS - Mathematics</option>
            </select>
          </td>
          <td style="text-align:left;">
            <label class="control-label" for="alignmentType">Alignment Type</label>
            <select class="input-xlarge required" id="alignmentType">
              <option>Alignment Type...</option>
              <option value="assesses">Assesses</option>
              <option value="teaches" selected="selected">Teaches</option>
              <option value="requires">Requires</option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="text-align:left;">
            <label class="control-label" for="dotNotation">Dot Notation</label>
            <input type="text" class="input-xlarge required"  name="dotNotation" id="dotNotation" placeholder="Dot Notation">
          </td>
          <td style="text-align:left;">
          </td>
        </tr>
        <!-- Removing for now until better technique can be found to pull descriptions via AJAX
        <tr>
          <td style="text-align:left;" colspan="2">
            <label class="control-label" for="description">Description</label>
            <textarea type="text" class="textarea-xxlarge required" id="description" rows="3" readonly="readonly"></textarea>
          </td>
        </tr> -->
        </tbody></table>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success" id="addButton"><i class="icon-tag"></i>Add Alignment</button>
      <a onclick="$('#alignmentsModal').modal('hide');" class="btn">Cancel</a>
    </div>

  </div>

<%= erb :__footer %>
